@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

:root {
    --primary-color: #0E6212;
    --toast-success-color: #008cff;
    --toast-error-color: #f04f4f;
    --font-primary-color: #fff;
    --font-secondary-color: #ccc;
    --primary-background: #0F0F0F;
    --secondary-background: #151515;
    --tertiary-background: #1f1f1f;
    --quaternary-background: #333;
    --border-color: #222;
    --header-index: 999;
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-primary-color);
    font-weight: normal;
}

html {
    font-display: swap;
    font-family: Rubik, system-ui, -apple-system, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-background);
    color: var(--font-secondary-color);
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: .6s ease;
}

img.loaded {
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .6s ease;
}

svg {
    transition: .6s ease;
}

input,
textarea,
button {
    font: inherit;
    color: inherit;
    background: none;
    resize: none;
    border: none;
}

.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    white-space: nowrap;
    transition: .6s ease;
    padding: .6rem 1rem;
    border-radius: var(--border-radius);
}

.btn.success {
    color: var(--font-primary-color);
    background-color: var(--primary-color);
}

.btn.out-success {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--font-secondary-color);
}

.btn.white {
    color: var(--border-color);
    background-color: var(--font-secondary-color);
}

.btn.out-white {
    color: var(--font-secondary-color);
    border: 1px solid var(--font-secondary-color);
}

.btn.out-white:hover,
.btn.out-white:focus {
    filter: none;
    color: var(--primary-background);
    background-color: var(--font-secondary-color);
}

.btn.dark-secondary {
    background-color: var(--secondary-background);
}

.btn.dark-quaternary {
    background-color: var(--quaternary-background);
}

.btn.secondary {
    text-decoration: underline;
}

.btn:hover,
.btn:focus {
    filter: brightness(80%);
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: grid;
    place-items: center;
    background-color: var(--primary-background);
    transition: .6s ease;
    pointer-events: none;
}

.loader.loaded {
    opacity: 0;
}

.loader img {
    background-color: var(--tertiary-background);
    border-radius: 50%;
    width: 64px;
    animation: blink 1.2s infinite linear;
    aspect-ratio: 1;
}

.toast {
    --toast-radius: calc(var(--border-radius) / 2);

    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: calc(var(--header-index) + 2);
    display: grid;
    grid-template-columns: 2rem auto;
    background-color: var(--tertiary-background);
    border-radius: var(--toast-radius) 0 0 var(--toast-radius);
    border: 1px solid var(--border-color);
    border-right: none;
    overflow: hidden;
    min-width: 20%;
    transform: translateX(100%);
    pointer-events: none;
    transition: .6s ease;
}

.toast.toast-active {
    transform: translateX(0);
    pointer-events: all;
}

.toast-success .toast-banner,
.toast-success .toast-icon {
    background-color: var(--toast-success-color);
}

.toast-error .toast-banner,
.toast-error .toast-icon {
    background-color: var(--toast-error-color);
}

.toast-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.toast-content .toast-text {
    font-size: 1.4rem;
}

.social-media {
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: var(--font-primary-color);
    gap: .45rem;
}


/* ------------------------------------- */
/* INÍCIO DO HEADER */
/* ------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--header-index);
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--border-color);
    font-size: 1.8rem;
    transform: translateY(-100%);
    transition: transform .6s ease;
}

header.show {
    transform: translateY(0);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    height: 10vh;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: .6rem;
}

header nav a {
    padding: .25rem 0.375rem;
}

header nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: .6s ease;
}

header nav a:hover,
header nav a:focus {
    color: var(--primary-color);
}

header nav a:hover::after,
header nav a:focus::after {
    width: 100%;
    transition: .6s ease;
}

@media (width <=768px) {
    header nav {
        background: var(--primary-background);
        position: fixed;
        width: 100%;
        right: 0;
        height: 90vh;
        top: 10vh;
        z-index: var(--header-index);
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        padding: 2rem 0;
        opacity: 0;
        transform: translateX(100%);
        transition: .6s ease;
    }

    header nav.active {
        transform: translateX(0%);
        opacity: 1;
    }

    header nav a {
        padding: 1rem 2rem;
    }

    header nav a.btn-animated {
        margin-top: .6rem;
        margin-left: 0;
    }
}

.logo {
    display: grid;
    place-items: center;
}

@media (width <=768px) {
    .logo {
        margin-left: 1.6rem;
    }
}

#btn-mobile {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    width: 4rem;
    aspect-ratio: 1;
    z-index: calc(var(--header-index) + 1);
    cursor: pointer;
    display: none;
}

#btn-mobile .line {
    --padding: .5rem;

    position: absolute;
    left: var(--padding);
    top: 48%;
    width: calc(100% - var(--padding) * 2);
    height: 2px;
    background-color: var(--font-secondary-color);
    transition: .6s ease;
    transform-origin: center;
}

#line-1 {
    transform: translateY(-1rem);
    animation-delay: 100ms;
}

#line-1.animated {
    transform: rotate(40deg);
}

#line-2.animated {
    opacity: 0;
}

#line-3 {
    transform: translateY(1rem);
    animation-delay: 250ms;
}

#line-3.animated {
    transform: rotate(-40deg);
}

#btn-mobile .clear {
    clear: both;
}

@media (width <=768px) {
    #btn-mobile {
        display: initial;
    }
}

/* ------------------------------------- */
/* FIM DO HEADER */
/* ------------------------------------- */


section {
    overflow: hidden;
    position: relative;
    font-size: 1.6rem;
}

section:nth-child(even) {
    background: var(--secondary-background);
}

section:nth-child(odd):not(:first-of-type) {
    background: var(--primary-background);
}

.section-title {
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1080px;
    min-height: 100vh;
    padding: 15vh 0;
    margin: 0 auto;
}


/* ------------------------------------- */
/* INICIO DA SEÇÃO HOME */
/* ------------------------------------- */
#home-section {
    position: relative;
}

.home-banner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(40%) contrast(110%);
    z-index: -2;
}

#home-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

@media (width <=768px) {
    #home-section .container {
        margin-top: 8vh;
        min-height: 92vh;
    }
}

#home-section .hero-image {
    margin-bottom: 1.5rem;
    background-color: var(--hero-image-bg);
    border-radius: 50%;
}

#home-section h1 {
    font-size: 6rem;
}

#home-section h2 {
    color: var(--font-secondary-color);
    font-size: 3.6rem;
}

#home-section .btn-group {
    margin-top: 5rem;
    font-size: 1.8rem;
}

#home-section .btn-group>* {
    text-transform: uppercase;
    padding: 1rem 2rem;
    backdrop-filter: blur(3px);
}

#home-section .btn-group>*:hover,
#home-section .btn-group>*:focus {
    letter-spacing: 1px;
}

@media (width<=768px) {
    #home-section h1 {
        font-size: 4.2rem;
    }

    #home-section h2 {
        font-size: 2.4rem;
    }

    #home-section .btn-group {
        font-size: 1.4rem;
    }
}

/* ------------------------------------- */
/* FIM DA SEÇÃO HOME */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO APRESENTAÇÃO */
/* ------------------------------------- */
#presentation-section {
    padding: 5vh 0;
}

#presentation-section .container {
    padding: 0;
}

.presentation-container {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    background: var(--tertiary-background);
    overflow: hidden;
    border-radius: var(--border-radius);
}

.presentation-image {
    border-radius: calc(var(--border-radius) / 2);
    filter: saturate(70%);
}

.presentation-texts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin: calc(var(--border-radius) / 2) 0;
}

.presentation-texts .section-title {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.presentation-texts .social-media {
    margin-top: auto;
}

.presentation-texts .social-media .btn {
    padding: .6rem .7rem;
}

.presentation-texts .social-media .btn:hover,
.presentation-texts .social-media .btn:focus {
    transform: scale(1.08);
}

@media (width <=768px) {
    .presentation-container {
        justify-content: center;
        flex-direction: column;
        padding-bottom: 4rem;
        width: 100%;
    }

    .presentation-texts {
        margin-top: 0;
    }
}

/* ------------------------------------- */
/* FIM DA SEÇÃO APRESENTAÇÃO */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO HABILIDADES */
/* ------------------------------------- */
#skills-section {
    padding: 5vh 0;
}

#skills-section .skills {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    display: grid;
    place-items: center;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background);
    border-radius: var(--border-radius);
    min-width: 148px;
    aspect-ratio: 1/1;
    cursor: default;
    transition: .6s ease;
}

.skill-image {
    transition: .6s ease;
}

.skill-image.rounded {
    border-radius: calc(var(--border-radius) / 2);
}

.skill-name {
    margin-top: 1rem;
    text-align: center;
}

.skill:hover,
.skill:focus,
.skill:focus-within {
    border-color: var(--primary-color);
    letter-spacing: 1px;
}

.skill:hover .skill-image,
.skill:focus .skill-image,
.skill:focus-within .skill-image {
    transform: rotate(3deg) scale(1.05);
}

/* ------------------------------------- */
/* FIM DA SEÇÃO HABILIDADES */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO PROJETOS */
/* ------------------------------------- */
#projects-section {
    padding: 5vh 0;
}

#projects-section .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    max-width: 100%;
}

.project {
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--tertiary-background);
    transition: .6s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    padding: 1rem;
}

.project-skills {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.1rem;
}

.project-skills .badge {
    background-color: var(--secondary-background);
    padding: .25rem .5rem;
    border-radius: calc(var(--border-radius) / 3);
    transition: .6s ease;
}

.project-skills .badge:hover,
.project-skills .badge:focus {
    background-color: var(--primary-background);
}

.project-name {
    margin-bottom: 1rem;
}

.project-description {
    margin-bottom: 1.2rem;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.project-buttons .btn {
    flex-grow: 1;
    border-radius: calc(var(--border-radius) / 2);
}

.project-buttons .btn.full {
    width: 100%;
}

.project-buttons .btn svg {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.project-buttons .btn:hover svg,
.project-buttons .btn:focus svg {
    transform: rotate(20deg);
}

.project:hover,
.project:focus,
.project:focus-within {
    border-color: var(--primary-color);
}

/* ------------------------------------- */
/* FIM DA SEÇÃO PROJETOS */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO CONTATO */
/* ------------------------------------- */
#contact-section form {
    display: grid;
    gap: 1.2rem;
    width: 100%;
    max-width: 600px;
    font-style: 1.6rem;
}

#contact-section form .form-group {
    display: grid;
    gap: 0.4rem;
}

.form-group .form-control {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background);
    border-radius: var(--border-radius);
    padding: 1rem;
}

#contact-section .btn {
    padding: 1rem;
}

#contact-section .btn:disabled {
    opacity: .8;
    pointer-events: none;
}

#contact-section .btn .icon {
    margin-right: 3px;
    transform: rotate(5deg);
}

#contact-section .btn .icon,
#contact-section .btn .text {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

#contact-section .btn:hover .icon,
#contact-section .btn:focus .icon {
    transform: translateX(5px) rotate(25deg);
}

#contact-section .btn:hover .text,
#contact-section .btn:focus .text {
    transform: translateX(7px);
}

/* ------------------------------------- */
/* FIM DA SEÇÃO CONTATO */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DO FOOTER */
/* ------------------------------------- */
footer {
    display: grid;
    text-align: center;
    padding: 3rem;
    color: var(--font-secondary-color);
    background: var(--primary-background);
    border-top: 1px solid var(--border-color);
}

footer .social-media {
    font-size: 1.6rem;
}

footer .quote {
    margin: 3rem 0 1rem;
    font-size: 1.4rem;
}

footer .copyright {
    font-size: 1rem;
}

@media (width <=768px) {
    footer .desktop-only {
        display: none;
    }
}

/* ------------------------------------- */
/* FIM DO FOOTER */
/* ------------------------------------- */