@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-primary-color);
    font-weight: normal;
}

html {
    font-display: swap;
    font-family: Rubik, system-ui, -apple-system, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    --primary-color: #0E6212;
    --toast-success-color: #008cff;
    --toast-error-color: #f04f4f;
    --font-primary-color: #fff;
    --font-secondary-color: #ccc;
    --primary-background: #0F0F0F;
    --secondary-background: #151515;
    --tertiary-background: #262626;
    --border-color: #222;
    --header-index: 999;
    --shadow: 0 .125rem .25rem rgb(0 0 0 / .15);
    --shadow-sm: 0 .5rem 1rem rgb(0 0 0 / .075);
    --border-radius: 20px;

    background-color: var(--primary-background);
    color: var(--font-secondary-color);
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .3s ease;
}

img.loaded {
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .6s ease;
}

input,
textarea,
button {
    font: inherit;
    color: inherit;
    background: none;
    resize: none;
    border: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all .6s ease;
    padding: .6rem 1rem;
    border-radius: var(--border-radius);
}

.btn.success {
    color: var(--font-button-color, var(--font-primary-color));
    background-color: var(--primary-color);
}

.btn.dark {
    background-color: var(--secondary-background);
}

.btn.secondary {
    text-decoration: underline;
}

.btn:hover {
    filter: brightness(80%);
}

.toast {
    --toast-radius: calc(var(--border-radius) / 2);

    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: calc(var(--header-index) + 2);
    display: grid;
    grid-template-columns: 2rem auto;
    background-color: var(--font-button-color, var(--tertiary-background));
    border-radius: var(--toast-radius) 0 0 var(--toast-radius);
    border: 1px solid var(--border-color);
    border-right: none;
    overflow: hidden;
    min-width: 20%;
    transform: translateX(100%);
    pointer-events: none;
    transition: all .6s ease-in-out;
}

.toast.toast-active {
    transform: translateX(0);
    pointer-events: all;
}

.toast-success .toast-banner,
.toast-success .toast-icon {
    background-color: var(--toast-success-color);
}

.toast-error .toast-banner,
.toast-error .toast-icon {
    background-color: var(--toast-error-color);
}

.toast-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.toast-content .toast-text {
    font-size: 1.4rem;
}

.social-media {
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: var(--font-primary-color);
    gap: .45rem;
}


/* ------------------------------------- */
/* INÍCIO DO HEADER */
/* ------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--header-index);
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--border-color);
    font-size: 1.8rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    height: 10vh;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: .6rem;
}

header nav a {
    padding: .25rem 0.375rem;
}

header nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width .6s;
}

header nav a:hover {
    color: var(--primary-color);
}

header nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

@media (width <=768px) {
    header nav {
        background: var(--primary-background);
        position: fixed;
        width: 100%;
        right: 0;
        height: 90vh;
        top: 10vh;
        z-index: var(--header-index);
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        padding: 2rem 0;
        opacity: 0;
        transform: translateX(100%);
        transition: all .3s ease-in-out;
    }

    header nav.active {
        transform: translateX(0%);
        opacity: 1;
    }

    header nav a {
        padding: 1rem 2rem;
    }
}

.logo {
    display: grid;
    place-items: center;
}

@media (width <=768px) {
    .logo {
        margin-left: 1.6rem;
    }
}

#btn-mobile {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    width: 4rem;
    aspect-ratio: 1;
    z-index: calc(var(--header-index) + 1);
    cursor: pointer;
    display: none;
}

#btn-mobile .line {
    --padding: .5rem;

    position: absolute;
    left: var(--padding);
    top: 48%;
    width: calc(100% - var(--padding) * 2);
    height: 2px;
    background-color: var(--font-secondary-color);
    transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
    transform-origin: center;
}

#line-1 {
    transform: translateY(-1rem);
    animation-delay: 100ms;
}

#line-1.animated {
    transform: rotate(40deg);
}

#line-2.animated {
    opacity: 0;
}

#line-3 {
    transform: translateY(1rem);
    animation-delay: 250ms;
}

#line-3.animated {
    transform: rotate(-40deg);
}

#btn-mobile .clear {
    clear: both;
}

@media (width <=768px) {
    #btn-mobile {
        display: initial;
    }
}

/* ------------------------------------- */
/* FIM DO HEADER */
/* ------------------------------------- */


section {
    overflow: hidden;
    position: relative;
    font-size: 1.6rem;
}

section:nth-child(even) {
    background: var(--secondary-background);
}

section:nth-child(odd):not(:first-of-type) {
    background: var(--primary-background);
}

.section-title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1080px;
    min-height: 100vh;
    padding: 15vh 0;
    margin: 0 auto;
}


/* ------------------------------------- */
/* INICIO DA SEÇÃO HOME */
/* ------------------------------------- */
#home-section {
    position: relative;
}

.home-banner-image {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    z-index: -1;
    opacity: 0.4 !important;
}

#home-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8vh;
    min-height: 92vh;
}

#home-section .hero-image {
    margin-bottom: 1.5rem;
    background-color: var(--hero-image-bg);
    border-radius: 50%;
}

#home-section h1 {
    font-size: 4.6rem;
}

#home-section h2 {
    color: var(--font-secondary-color);
    font-size: 2.4rem;
}

#home-section .social-media {
    margin-top: 2rem;
}

#home-section .social-media .btn {
    padding: .6rem .7rem;
}

/* ------------------------------------- */
/* FIM DA SEÇÃO HOME */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO APRESENTAÇÃO */
/* ------------------------------------- */
#presentation-section {
    padding: 5vh 0;
}

#presentation-section .container {
    padding: 0;
}

.presentation-container {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    background: var(--tertiary-background);
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: var(--border-radius);
}

.presentation-image {
    border-radius: calc(var(--border-radius) / 2);
}

.presentation-texts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: calc(var(--border-radius) / 2);
}

.presentation-texts .section-title {
    text-align: left;
    margin-bottom: 1.5rem;
}

@media (width <=768px) {
    .presentation-container {
        justify-content: center;
        flex-direction: column;
        padding-bottom: 4rem;
        width: 100%;
    }

    .presentation-texts {
        margin-top: 0;
    }
}

/* ------------------------------------- */
/* FIM DA SEÇÃO APRESENTAÇÃO */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO HABILIDADES */
/* ------------------------------------- */
#skills-section .skills {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    display: grid;
    place-items: center;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background);
    box-shadow: var(--shadow-sm);
    border-radius: var(--border-radius);
    min-width: 148px;
    aspect-ratio: 1/1;
    cursor: default;
    transition: border-color .6s ease;
}

.skill-image {
    transition: transform .6s ease;
}

.skill-image.rounded {
    border-radius: calc(var(--border-radius) / 2);
}

.skill-name {
    margin-top: 1rem;
    text-align: center;
}

.skill:hover,
.skill:focus,
.skill:focus-within {
    border-color: var(--primary-color);
}

.skill:hover .skill-image,
.skill:focus .skill-image,
.skill:focus-within .skill-image {
    transform: rotate(3deg) scale(1.03);
}

/* ------------------------------------- */
/* FIM DA SEÇÃO HABILIDADES */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO PROJETOS */
/* ------------------------------------- */
#projects-section .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    max-width: 100%;
}

.project {
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--tertiary-background);
    box-shadow: var(--shadow-sm);
    transition: border-color .6s ease;
}

.project.hidden {
    display: none;
}

.project-details {
    position: relative;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-height: 20rem;
    padding: 1rem;
}

.project-skills {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.1rem;
}

.project-skills .badge {
    background-color: var(--secondary-background);
    padding: .25rem .5rem;
    border-radius: calc(var(--border-radius) / 3);
    transition: background-color .3s ease;
}

.project-skills .badge:hover {
    background-color: var(--primary-background);
}

.project-name {
    margin-bottom: 1rem;
}

.project-description {
    margin-bottom: 1.2rem;
}

.project-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}

.project-buttons .btn {
    border-radius: calc(var(--border-radius) / 2);
}

@media (width <=768px) {
    .project-buttons {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

.project:hover,
.project:focus,
.project:focus-within {
    border-color: var(--primary-color);
}

/* ------------------------------------- */
/* FIM DA SEÇÃO PROJETOS */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DA SEÇÃO CONTATO */
/* ------------------------------------- */
#contact-section form {
    display: grid;
    gap: 1.2rem;
    width: 100%;
    max-width: 600px;
    font-style: 1.6rem;
}

#contact-section form .form-group {
    display: grid;
    gap: 0.4rem;
}

.form-group .form-control {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background);
    border-radius: var(--border-radius);
    padding: 1rem;
}

#contact-section form button {
    padding: 1rem;
}

/* ------------------------------------- */
/* FIM DA SEÇÃO CONTATO */
/* ------------------------------------- */


/* ------------------------------------- */
/* INICIO DO FOOTER */
/* ------------------------------------- */
footer {
    display: grid;
    text-align: center;
    padding: 3rem;
    color: var(--font-secondary-color);
    background: var(--primary-background);
    border-top: 2px solid var(--border-color);
}

footer .social-media {
    font-size: 1.6rem;
}

footer .quote {
    margin: 3rem 0 1rem;
    font-size: 1.4rem;
}

footer .copyright {
    font-size: 1rem;
}

@media (width <=768px) {
    footer .desktop-only {
        display: none;
    }
}

/* ------------------------------------- */
/* FIM DO FOOTER */
/* ------------------------------------- */